<main th:replace="fragments/_admin_layout::content(~{::div.list-content})" xmlns:th="">
    <div class="list-content">
        <h1 class="h2">Danh sách Sản phẩm</h1>
        <a th:href="@{/admin/products/add}" class="btn btn-primary mb-3">Thêm Sản phẩm mới</a>

        <table class="table table-striped table-sm">
            <thead></thead>
            <tbody>
            <tr th:each="item : ${listData}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td>
                    <a th:href="@{/admin/products/edit/{id}(id=${item.id})}" class="btn btn-sm btn-info">Sửa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>