<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" />
    <link th:href="@{/css/style.css}"  rel="stylesheet" />

    <title th:text="${title}"> DevNo1::Giới thiệu Thymeleaf trong SpringBoot</title>
    <script th:src="@{/css/js/bootstrap.min.js}"></script>
</head>

<body style="background: #f8f9fa;">

<header th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="https://devmaster.edu.vn/images/logo.png" alt="DevNo1" style="width: 120px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a th:href="@{/home}" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a th:href="@{/about}" class="nav-link">Giới thiệu</a></li>
                <li class="nav-item"><a th:href="@{/contact}" class="nav-link">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</header>

<footer th:fragment="footer" class="mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <img src="https://devmaster.edu.vn/images/logo.png" alt="DevNo1" style="width: 50px" class="mb-2">
        <address class="mb-1">© 2024 <b>DevNO1</b> | Viện Công Nghệ và Đào Tạo</address>

        <div th:insert="fragments/_layout::menu" class="d-flex justify-content-center"></div>
    </div>
</footer>

<nav th:fragment="menu">
    <ul class="nav">
        <li class="nav-item"><a th:href="@{/home}" class="nav-link text-white">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/services}" class="nav-link text-white">Dịch vụ</a></li>
        <li class="nav-item"><a th:href="@{/contact}" class="nav-link text-white">Liên hệ</a></li>
    </ul>
</nav>

</body>
</html>